body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fb;
  margin: 0;
  /* padding: 40px; */
}

main {

  width: calc(100vw - 500px);
  align-items: center;

  /* padding-left: 80px; */
}

.maincontent {
  padding-left: 80px;
  padding-top: 30px;
}
h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
form {
  display: flex;
  align-items: stretch;
  gap: 40px;
}
.form-section {
  flex: 1;
  min-width: 300px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="date"],
textarea,
select {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}
textarea {
  resize: vertical;
  height: 100px;
}
.priority-buttons button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* für transition Startwert */
}

.priority-buttons button:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.task-success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background-color: #2A3647;
  color: white;
  padding: 16px 32px;
  border-radius: 12px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 1000;
}

.task-success.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.d-none {
  display: none;
}


.urgent {
  background-color: #ffffff;
}
.medium {
  background-color: #fbfbfb;
}
.low {
  background-color: #ffffff;
}

.priority-buttons button.active-urgent {
  background-color: #ff4d4d; /* rot */
  color: white;
}
.priority-buttons button.active-medium {
  background-color: #ffa500; /* orange */
  color: white;
}
.priority-buttons button.active-low {
  background-color: #28a745; /* grün */
  color: white;
}

.subtask-input-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px 12px;
width: 575px;
  height:22px
}

.subtask-input {
  border: none !important;
  background: transparent;
  flex: 1;
  outline: none;
  font-size: 14px;
  color: #333;
  margin-bottom:0 !important;
}

.subtask-input::placeholder {
  color: #bbb;
}

.add-subtask-button {
  background: none;
  border: none;
  font-size: 20px;
  color: #888;
  cursor: pointer;
  padding: 0 5px;
  transition: color 0.2s ease;
}

.bottom-buttons {
  margin-top: 20px;
}
.bottom-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}
.clear-btn {
  background-color: transparent;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.create-btn {
  background-color: #2b2d42;
  color: white;
}

.create-btn:hover {
  background-color: rgb(13,153,255);
}

.required-note {
  font-size: 12px;
  color: rgb(255, 0, 0);
  margin-top: -15px;
  margin-bottom: 10px;
}

.line {
  margin: 0 20px;
  width: 1px;
  background-color: #d1d1d1;
}