.subtask-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  border-radius: 4px;
  transition: background-color 0.2s;
  cursor: default;
}

.subtask-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.subtask-title {
  flex-grow: 1;
}

.subtask-actions {
  align-items: center;
  gap: 6px;
  display: none;
}

.subtask-item:hover .subtask-actions,
.subtask-item:focus-within .subtask-actions {
  display: flex;
}

.subtask-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: black;
}

.divider {
  width: 1px;
  height: 16px;
  background-color: #ccc;
}

.input-focus {
  border: 1px solid #29abe2 !important;
  outline: none;
}

.assigned-select:focus-within {
  border: 1px solid #29abe2;
}

.edit-subtask-container {
  position: relative;
  width: 100%;
}

.edit-subtask-input {
  width: 100%;
  padding-right: 48px;
  box-sizing: border-box;
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.edit-subtask-icons {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 8px;
}

.edit-subtask-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  opacity: 0.7;
}

.edit-subtask-icon:hover {
  opacity: 1;
}

.cancel-subtask-button {
  border: none;
  background-color: white;
  font-weight: bold;
}

.confirm-subtask-button {
  border: none;
  background-color: white;
}

.subtask-divider {
  width: 1px;
  height: 25px;
  background-color: #ccc;
}

.subtask-buttons {
  display: flex;
}

.category-dropdown {
  position: relative;
  width: 100%;
}

.category-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  height: 38px;
  font-size: 18px;
  cursor: pointer;
}

.category-placeholder {
  color: #757575;
  margin-left: 15px;
}

.category-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.category-options div {
  padding: 10px 12px;
  cursor: pointer;
}

.category-options div:hover {
  background-color: #f0f0f0;
}

.category-select.input-error {
  border: 1px solid #ff8190 !important;
}

.category-select.input-focus {
  border: 1px solid #29abe2;
}


.assigned-dropdown {
  position: relative;
  width: 100%;
  font-family: sans-serif;
}

.assigned-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  height: 38px;
  position: relative;
}

.assigned-search-input {
  flex: 1;
  border: none !important;
  outline: none;
  font-size: 18px;
  background-color: transparent;
  color: inherit;
  padding-left: 12px;
  height: 38px !important;
  margin-bottom: 0 !important;
}

.assigned-dropdown.open .assigned-search-input::placeholder {
  color: transparent;
}

.dropdown-arrow {
  font-size: 21px;
  color: #555;
  margin-left: 8px;
  flex-shrink: 0;
  text-align: end;
  padding-right: 12px;
  cursor: pointer;
}

.assigned-dropdown.open .dropdown-arrow {
  transform: rotate(180deg);
}

.assigned-dropdown.open .assigned-placeholder {
  display: none;
}

.assigned-dropdown.open .assigned-select {
  justify-content: end !important;
}

.assigned-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.assigned-options div {
  padding: 10px 12px;
  cursor: pointer;
  font-size: 16px;
}

.assigned-options div:hover {
  background-color: #f0f0f0;
}

.assigned-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 18px;
}

.assigned-row.active {
  background-color: #2A3647;
  color: white;
  border-radius: 8px;
}

.assigned-row.active:hover {
  background-color: #212B39;
}

.assigned-row span {
  flex: 1;
}

.avatar {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-avatars {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.selected-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
