
@media (max-width:1310px) {
  .contact-list {
    margin:0 10px;
    gap:30px;
  }
  .contact-group-letter {
    margin-left:0;
  }

  .contactInfo-title {
    font-size:40px;
  }

  .contactInfo-subtitle {
    font-size: 20px;
  }
  .main {
    padding: 150px 30px 40px;
  }

  .show-contact-avatar {
    height:80px;
    width:80px;
    font-size:40px;
  }
  h2 {
    font-size:32px;
  }
}
@media (max-width:1000px) {

  .new-contact {
    height:90px;
    font-size:18px;
    margin-top:10px;
  }
  .left-side {
    width:250px;
    padding: 100px 10px 10px;
  }

  .contact-group-letter {
    font-size:20px;
  }

  .contact-name {
    font-size:18px;
  }

  .contact-email {
    font-size:16px;
  }

  .contact-info-box h2 {
    font-size:20px;
  }

  .contact-name-box {
    gap:0;
  }

  .show-contact-avatar {
    height:60px;
    width:60px;
    font-size:24px; 
  }
  .contact-email{
     word-break: break-word; /* oder: break-all */
  overflow-wrap: break-word;
  }
  .main {
    padding:150px 12px 12px;
  }
  .avatar {
    margin-left:0;
  }
  .contact-list {
    margin:0 0;
  }
  .contactInfo-subtitle {
    font-size:16px;
    margin-left:15px;
  }
  
  .contactInfo-title{
    font-size:24px;
  }

  .contact-panel{
    padding:0 !important;
  }

  .add-contact-overlay {
width: 800px;
  }
}