.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 232px; /* Width of sidebar */
    z-index: 100;
}

.logo-title {
    font-size: 24px;
    font-weight: bold;
    color: #2A3647;
    flex: 1;
    margin: 0 60px;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.help-icon {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #E2E6EC;
    color: #E2E6EC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .help-icon:hover {
    transform: scale(1.05);
    background-color: #29ABE2;
    color: white;
    border-color: #29ABE2;
  }
  
  /* Animation for when clicking the help icon */
  .help-icon:active {
    transform: scale(0.95);
  }
  
  .header-logo {
    display: none;
    width: 40px;
    height: 40px;
  }

  @media (max-width: 768px) {
    .page-header {
      left: 0 !important;
      justify-content: space-between !important;
    }
    
    .help-icon {
      display: none !important;
    }
    
    .logo-title {
      display: none;
    }
    
    .user-initial-small {
      height: 40px !important;
      width: 40px !important;
      font-size: 16px !important;
    }
    
    .header-logo {
      display: block;
    }
  }
