body {
    margin:0;
    background-color: #F6F7F8;
    /* display: flex; */
    height: 100vh;
}


.header-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

  header {
    display: flex;
    padding-left: 60px;
    padding: 40px;
    justify-content: space-between;
    height: 60px;
  }

button {
    cursor:pointer;
}

a {
    cursor:pointer;
}

.logo {
width:100px;
margin-top:20px;
margin-left:20px;
}

.form-layout {
    margin-top:20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #0b140b; /* neu in modernen Browsern */
    cursor: pointer;
  }